@model Historial_C.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evolucion.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-controller="Evoluciones" asp-action="Details" asp-route-id="@Model.EvolucionId" class="btn btn-primary btn-dark">Volver</a>
</div>
