@model IEnumerable<Historial_C.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>
<h5>Ingrese el dni del paciente a buscar:</h5>
@using (Html.BeginForm("BuscarPaciente", "Pacientes"))
{
    <div class="Buscador">
    @Html.TextBox("pacienteDni", null, new{@class = "buscarEspecialidad"})
        <input type="submit" value="" class="Buscar" title="Buscar" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObraSocial)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObraSocial)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @if (User.IsInRole("Empleado") || User.IsInRole("Paciente"))
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-dark">Editar</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-dark">Ver detalle</a>
                    <a asp-action="HistorialClinicaPaciente" asp-route-pacienteUserName="@item.UserName" class="btn btn-primary btn-dark">Historial Clínica</a>
                    
            </td>
        </tr>

}
    </tbody>
</table>
